# Ide project files
# Add your ide here
/.vscode


#
# Just dont track binaries
#
/bin/*
/bin/**/*
!/bin/README.md


# ensure not main file
!/src/*.cpp


#
# Object files
#
*.o
*/**/*.o


#
# Debian packages
#
*.deb
*/**/*.deb
package/git-list/usr/bin/git-list
package/git-list.deb
package/git-list/bin/
package/git-list/bin/**

